.form-container{
    margin-top: 5%;
    border:1px solid grey;
    padding: 15px;
    width: 25%;
    margin-left: 38%;
    border-radius: 5px;
    text-align: center;
    background-color:lightgoldenrodyellow;
}
.form-container input{
    width: 250px;
    border: 1px solid grey;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    font-size: 15px;

}
.form-container button{
    width: 250px;
    border:1px solid grey;
    border-radius: 5px;
    background-color:lightslategrey;
}